<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>HotswapHeroes.com</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="libs/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="libs/jquery-2.0.3.min.js"></script>
    <script src="libs/app.js"></script>
<head>

<body ng-app="app" ng-controller="menuCtrl as menu">
<div class="headerProxy"></div>
<header>
    <img src="images/gMenu.png" height="25em" width="25em" class="hamburger"/>
    <a href="" class="headerTxt">HotswapHeroes.com</a>
</header>
   
<!--menu-->
    <div class="menu">
        <a class="menuItem" ng-repeat="x in items" ng-click="setPage(x.page)" ng-class="{menuActive: active == x.page}">{{x.title}}</a>
    </div>
</div>
<!--MAIN CONTENT-->
<div id='contentWrapper'>
    <div class="content" ng-include='active' id="mainContent"></div>
<!-- CIRCLES -->
    <div class="content" id="lowerContent">
        <figure ng-click="servSelect('webDesign')">
            <img src="images/screen2.png" />
            <figcaption>Web Design & hosting</figcaption>
        </figure>
        <figure ng-click="servSelect('computerRepair');">
            <img src="images/wrenchgear2.png" />
            <figcaption>Computer Maintenance & Repair</figcaption>
        </figure>
        <figure  ng-click="servSelect('smallBusiness')">
            <img src="images/lightbulb2.png" />
            <figcaption>Small Business Solutions</figcaption>
        </figure>
    </div>
<!--COPYRIGHT-->
    <div class="content">
        <p id="copyright">© Copyright 2015 HotswapHeroes.com - All logos and trademarks are the properties of their respective owners.</p>
    </div>
</div>


<script>
$(document).ready(function(){
    $(".menu").animate({width: 'toggle'}, 0);           //minimize menu
    $(".hamburger").click(function(){               
        $(this).toggleClass("hamburgerActive");      //toggle the menu's active state class
        $(".menu").animate({width: 'toggle'});      //toggle the menu's active state animation
    });
    $(".menuItem").click(function(){        
        $(".menuItem").removeClass("menuCurrent");  //un-tags all menu items
        $(this).addClass("menuCurrent");            //tags this item as selected & loads page   
        $(".hamburger").toggleClass("hamburgerActive");      //toggles the menu button state
        $(".menu").animate({width: 'toggle'}, "slow");  //closes the menu           
    });
});
</script>
</body>
</html>